/*....................................
Template Name: Meet App | Responsive HTML5 Template 
Template URI: https://themeforest.net/user/themeum/
Description: Meet App One Page Responsive HTML5 Landing Template
Author: joomshaper
Author URI: https://www.joomshaper.com/
Version: 1.0
....................................
CSS INDEX
....................................
1.Theme Default CSS (body, link color, section etc)
    1.1 Reset CSS
....................................*/
/*....................................
1.Theme default CSS
  1.1 Reset CSS 
2.Header Area Start Here
3.Banner Area Start Here

....................................*/
@font-face {
  font-family: 'sfns_displaybold';
  src: url('fonts/sfns-display-bold-596a512b6fdef-webfont.woff2') format('woff2'), url('fonts/sfns-display-bold-596a512b6fdef-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'sfns_displayregular';
  src: url('fonts/sfns-system-san-francisco-display-596a704940c3f-webfont.woff2') format('woff2'), url('fonts/sfns-system-san-francisco-display-596a704940c3f-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
html,
body {
  height: 100%;
  font-size: 16px;
  color: #999999;
  font-family: 'sfns_displayregular';
  vertical-align: baseline;
  line-height: 28px;
  font-weight: 400;
}
/* ....................................
1.1 Reset CSS 
.......................................*/
.floatleft {
  float: left;
}
.floatright {
  float: right;
}
.alignleft {
  float: left;
  margin-right: 15px;
  margin-bottom: 28px;
}
.alignright {
  float: right;
  margin-left: 15px;
  margin-bottom: 28px;
}
.aligncenter {
  display: block;
  margin: 0 auto 28px;
}
a:focus {
  outline: 0px solid;
}
img {
  max-width: 100%;
  height: auto;
}
.fix {
  overflow: hidden;
}
p {
  margin: 0 0 28px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 28px;
  font-weight: 600;
  font-family: 'sfns_displayregular';
}
a {
  transition: all 0.5s ease 0s;
  text-decoration: none;
}
a:hover {
  color: #ff6a00;
  text-decoration: none;
}
a:active,
a:hover {
  outline: 0 none;
  color: #096b89;
}
ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}
.clear {
  clear: both;
}
::-moz-selection {
  background: #ff6a00;
  text-shadow: none;
  color: #ffffff;
}
::selection {
  background: #ff6a00;
  text-shadow: none;
  color: #ffffff;
}
.browserupgrade {
  margin: 28px  0;
  background: #ff6a00;
  color: #ffffff;
  padding: 28px 0;
}
.acurate {
  margin: 0;
  padding: 0;
}
.padding {
  padding: 30px;
}
.padding-top {
  padding-top: 30px;
}
.padding-bottom {
  padding-bottom: 30px;
}
.section-area {
  padding: 0 250px;
}
.section-area h2 {
  font-size: 24px;
  font-family: 'sfns_displayregular';
  margin-bottom: 30px;
  position: relative;
}
.section-area h2 span {
  color: #ff6a00;
}
.section-area h2:after {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  background: #ff6a00;
  height: 2px;
  content: "";
  bottom: -15px;
  width: 30px;
}
.section-area p {
  margin-bottom: 30px;
}
.form-control::-moz-placeholder {
  color: #111111;
}
/* ------------------------------------
2.Header Area Start Here 
---------------------------------------*/
.header-area {
  position: absolute;
  padding: 25px 0;
  left: 0;
  right: 0;
}
.header-area .logo-area a {
  display: block;
}
.header-area .main-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: right;
}
.header-area .main-menu ul li {
  display: inline-block;
}
.header-area .main-menu ul li a {
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  transition: all 0.5s ease 0s;
  padding: 25px;
  position: relative;
  font-size: 'sfns_displayregular';
}
.header-area .main-menu ul li a:before {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 0px;
  height: 1px;
  background: #ffffff;
  content: "";
  opacity: 0;
  transition: all 0.5s ease 0s;
}
.header-area .main-menu ul li a:after {
  position: absolute;
  bottom: 0px;
  right: 20px;
  width: 00px;
  height: 1px;
  background: #ffffff;
  content: "";
  opacity: 0;
  transition: all 0.5s ease 0s;
}
.header-area .main-menu ul li a:hover:before {
  top: 20px;
  left: 20px;
  width: 20px;
  opacity: 1;
}
.header-area .main-menu ul li a:hover:after {
  bottom: 20px;
  right: 20px;
  width: 20px;
  opacity: 1;
}
/* ------------------------------------
3.Banner Area Start Here 
---------------------------------------*/
.banner-area {
  background: url(images/banner-bg.png) no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 400px 0 100px;
}
.banner-area .banner-left {
  position: relative;
}
.banner-area .banner-left img {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: -30px;
}
.banner-area .banner-right {
  margin-top: -50px;
}
.banner-area .banner-right h1 {
  font-size: 72px;
  line-height: 90px;
  color: #ffffff;
  font-weight: 400;
}
.banner-area .banner-right p {
  color: #ffffff;
  font-size: 18px;
  line-height: 30px;
  padding-right: 10%;
}
.banner-area .banner-right .banner-button ul {
  margin: 0;
  padding: 0;
}
.banner-area .banner-right .banner-button ul li {
  display: inline-block;
}
.banner-area .banner-right .banner-button ul li:first-child {
  margin-right: 30px;
}
.banner-area .banner-right .banner-button ul li:first-child a {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  transition: all 0.5s ease 0s;
}
.banner-area .banner-right .banner-button ul li:first-child a:hover {
  background: #ffae00;
  background: -moz-linear-gradient(left, #ffae00 0%, #f16f5c 0%, #ff9501 0%, #ff7b00 71%, #fe6100 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #ffae00), color-stop(0%, #f16f5c), color-stop(0%, #ff9501), color-stop(71%, #ff7b00), color-stop(100%, #fe6100));
  background: -webkit-linear-gradient(left, #ffae00 0%, #f16f5c 0%, #ff9501 0%, #ff7b00 71%, #fe6100 100%);
  background: -o-linear-gradient(left, #ffae00 0%, #f16f5c 0%, #ff9501 0%, #ff7b00 71%, #fe6100 100%);
  background: -ms-linear-gradient(left, #ffae00 0%, #f16f5c 0%, #ff9501 0%, #ff7b00 71%, #fe6100 100%);
  background: linear-gradient(to right, #ffae00 0%, #f16f5c 0%, #ff9501 0%, #ff7b00 71%, #fe6100 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffae00', endColorstr='#fe6100', GradientType=1);
  color: #ffffff;
}
.banner-area .banner-right .banner-button ul li:first-child a:hover i {
  color: #ffffff;
}
.banner-area .banner-right .banner-button ul li:first-child a span {
  display: block;
  font-size: 26px;
  font-weight: 400;
  margin-top: 3px;
  margin-left: 56px;
}
.banner-area .banner-right .banner-button ul li a {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  display: block;
  background: #ffffff;
  color: #ff6a00;
  padding: 14px 30px;
  transition: all 0.5s ease 0s;
}
.banner-area .banner-right .banner-button ul li a:hover {
  background: #ffae00;
  background: -moz-linear-gradient(left, #ffae00 0%, #f16f5c 0%, #ff9501 0%, #ff7b00 71%, #fe6100 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #ffae00), color-stop(0%, #f16f5c), color-stop(0%, #ff9501), color-stop(71%, #ff7b00), color-stop(100%, #fe6100));
  background: -webkit-linear-gradient(left, #ffae00 0%, #f16f5c 0%, #ff9501 0%, #ff7b00 71%, #fe6100 100%);
  background: -o-linear-gradient(left, #ffae00 0%, #f16f5c 0%, #ff9501 0%, #ff7b00 71%, #fe6100 100%);
  background: -ms-linear-gradient(left, #ffae00 0%, #f16f5c 0%, #ff9501 0%, #ff7b00 71%, #fe6100 100%);
  background: linear-gradient(to right, #ffae00 0%, #f16f5c 0%, #ff9501 0%, #ff7b00 71%, #fe6100 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffae00', endColorstr='#fe6100', GradientType=1);
  color: #ffffff;
}
.banner-area .banner-right .banner-button ul li a:hover i {
  color: #ffffff;
}
.banner-area .banner-right .banner-button ul li a i {
  float: left;
  margin-right: 15px;
  font-size: 50px;
  color: #ff6a00;
  margin-top: 15px;
}
.banner-area .banner-right .banner-button ul li a span {
  display: block;
  font-size: 20px;
  font-weight: 400;
  margin-top: 3px;
  margin-left: 56px;
}
.banner-area .banner-right .banner-button ul li a span b {
  font-weight: 600;
  margin-left: -12px;
}
/* ------------------------------------
4.how it work Area Start Here 
---------------------------------------*/
.how-it-work {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.how-it-work .heading {
  margin: 0 0 100px;
}
.how-it-work .heading h1 {
  font-family: .SFNSDisplay;
  font-size: 48px;
  color: #3B444D;
  letter-spacing: 0;
  margin: 0;
}
.how-it-work .heading p {
  font-family: .AppleSystemUIFont;
  font-size: 18px;
  color: #999999;
  line-height: 28px;
}
.how-it-work .singl-con {
  background: #FFFFFF;
  box-shadow: 0 4px 6px 0 rgba(48, 48, 77, 0.05), 0 2px 4px 0 rgba(48, 48, 77, 0.05);
  border-radius: 5px;
  padding: 30px;
}
.how-it-work .singl-con img {
  margin: 0 0 15px;
}
.how-it-work .singl-con h3 {
  font-family: .SFNSDisplay;
  font-size: 24px;
  color: #3B444D;
  letter-spacing: 0;
}
.how-it-work .singl-con p {
  font-family: .AppleSystemUIFont;
  font-size: 17px;
  color: #878787;
  letter-spacing: 0;
  line-height: 26px;
}
.how-it-work .singl-con a {
  font-family: .AppleSystemUIFont;
  font-size: 17px;
  letter-spacing: 0;
  line-height: 26px;
}
.how-it-work .singl-con.con-one a {
  color: #D620ED;
}
.how-it-work .singl-con.con-two {
  margin-top: 100px;
}
.how-it-work .singl-con.con-two a {
  color: #95DD32;
}
.how-it-work .singl-con.con-three {
  margin-top: 200px;
}
.how-it-work .singl-con.con-three a {
  color: #FF6700;
}
/* ------------------------------------
5.Review Area Start Here 
---------------------------------------*/
.review-area {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.review-area .heading {
  margin: 0 0 100px;
}
.review-area .heading h1 {
  font-family: .SFNSDisplay;
  font-size: 48px;
  color: #3B444D;
  letter-spacing: 0;
  margin: 0;
}
.review-area .heading p {
  font-family: .AppleSystemUIFont;
  font-size: 18px;
  color: #999999;
  line-height: 28px;
}
.review-area .single-slider {
  padding-top: 30px;
}
.review-area .single-slider .slider-con {
  background: #FFFFFF;
  box-shadow: 0 2px 20px 0 rgba(135, 152, 164, 0.15);
  border-radius: 3px;
  padding-bottom: 100px;
  width: 70%;
  margin: auto;
  position: relative;
}
.review-area .single-slider .slider-con:after {
  content: '\f10d';
  position: absolute;
  font-family: FontAwesome;
  top: -28px;
  font-size: 40px;
  left: 60px;
  color: #FF7100;
}
.review-area .single-slider .slider-con img {
  margin: -30px 0 20px;
  position: relative;
  z-index: 999;
}
.review-area .single-slider .slider-con h4 {
  font-family: .AppleSystemUIFont;
  font-size: 18px;
  color: #4A4A4A;
  letter-spacing: 0;
  margin: 0 0 15px;
}
.review-area .single-slider .slider-con ul {
  margin: 0 0 40px;
}
.review-area .single-slider .slider-con ul li {
  color: #FF7100;
  margin: 0;
  padding: 0;
}
.review-area .single-slider .slider-con p {
  font-family: .AppleSystemUIFont;
  font-size: 16px;
  color: #4A4A4A;
  letter-spacing: 0;
  line-height: 26px;
}
.review-area .owl-controls .owl-buttons div {
  position: absolute;
  top: 45%;
  background: transparent;
  border-radius: 0;
  color: #ddd;
  opacity: 1;
  font-size: 30px;
  transition: all 0.5s ease 0s;
}
.review-area .owl-controls .owl-buttons div:hover {
  color: #ff6a00;
}
.review-area .owl-controls .owl-buttons .owl-prev {
  left: 30px;
}
.review-area .owl-controls .owl-buttons .owl-next {
  right: 30px;
}
/* ------------------------------------
6.Banner Area Start Here 
---------------------------------------*/
.banner-area-two .banner-con {
  background-image: linear-gradient(45deg, #ffb300 0%, #ff5d00 100%);
  border-radius: 10px;
  padding: 80px 0;
}
.banner-area-two .banner-con h2 {
  font-family: .SFNSDisplay;
  font-size: 48px;
  color: #FFFFFF;
  line-height: 102px;
  margin: 0;
}
.banner-area-two .banner-con p {
  font-family: .AppleSystemUIFont;
  font-size: 18px;
  color: #FFFFFF;
  line-height: 28px;
  width: 60%;
  margin: 0 auto 60px;
}
.banner-area-two .banner-con .banner-button ul {
  margin: 0;
  padding: 0;
}
.banner-area-two .banner-con .banner-button ul li {
  display: inline-block;
}
.banner-area-two .banner-con .banner-button ul li:first-child {
  margin-right: 30px;
}
.banner-area-two .banner-con .banner-button ul li:first-child a {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  transition: all 0.5s ease 0s;
}
.banner-area-two .banner-con .banner-button ul li:first-child a:hover {
  background: #ffae00;
  background: -moz-linear-gradient(left, #ffae00 0%, #f16f5c 0%, #ff9501 0%, #ff7b00 71%, #fe6100 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #ffae00), color-stop(0%, #f16f5c), color-stop(0%, #ff9501), color-stop(71%, #ff7b00), color-stop(100%, #fe6100));
  background: -webkit-linear-gradient(left, #ffae00 0%, #f16f5c 0%, #ff9501 0%, #ff7b00 71%, #fe6100 100%);
  background: -o-linear-gradient(left, #ffae00 0%, #f16f5c 0%, #ff9501 0%, #ff7b00 71%, #fe6100 100%);
  background: -ms-linear-gradient(left, #ffae00 0%, #f16f5c 0%, #ff9501 0%, #ff7b00 71%, #fe6100 100%);
  background: linear-gradient(to right, #ffae00 0%, #f16f5c 0%, #ff9501 0%, #ff7b00 71%, #fe6100 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffae00', endColorstr='#fe6100', GradientType=1);
  color: #ffffff;
}
.banner-area-two .banner-con .banner-button ul li:first-child a:hover i {
  color: #ffffff;
}
.banner-area-two .banner-con .banner-button ul li:first-child a span {
  display: block;
  font-size: 26px;
  font-weight: 400;
  margin-top: 3px;
  margin-left: 56px;
}
.banner-area-two .banner-con .banner-button ul li a {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  display: block;
  background: #ffffff;
  color: #ff6a00;
  padding: 14px 30px;
  transition: all 0.5s ease 0s;
}
.banner-area-two .banner-con .banner-button ul li a:hover {
  background: #ffae00;
  background: -moz-linear-gradient(left, #ffae00 0%, #f16f5c 0%, #ff9501 0%, #ff7b00 71%, #fe6100 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #ffae00), color-stop(0%, #f16f5c), color-stop(0%, #ff9501), color-stop(71%, #ff7b00), color-stop(100%, #fe6100));
  background: -webkit-linear-gradient(left, #ffae00 0%, #f16f5c 0%, #ff9501 0%, #ff7b00 71%, #fe6100 100%);
  background: -o-linear-gradient(left, #ffae00 0%, #f16f5c 0%, #ff9501 0%, #ff7b00 71%, #fe6100 100%);
  background: -ms-linear-gradient(left, #ffae00 0%, #f16f5c 0%, #ff9501 0%, #ff7b00 71%, #fe6100 100%);
  background: linear-gradient(to right, #ffae00 0%, #f16f5c 0%, #ff9501 0%, #ff7b00 71%, #fe6100 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffae00', endColorstr='#fe6100', GradientType=1);
  color: #ffffff;
}
.banner-area-two .banner-con .banner-button ul li a:hover i {
  color: #ffffff;
}
.banner-area-two .banner-con .banner-button ul li a i {
  float: left;
  margin-right: 15px;
  font-size: 50px;
  color: #ff6a00;
  margin-top: 15px;
}
.banner-area-two .banner-con .banner-button ul li a span {
  display: block;
  font-size: 20px;
  font-weight: 400;
  margin-top: 3px;
  margin-left: 56px;
}
.banner-area-two .banner-con .banner-button ul li a span b {
  font-weight: 600;
  margin-left: -12px;
}
/* ------------------------------------
7.Contact Area Start Here 
---------------------------------------*/
.contact-area .single-contact h3 {
  font-family: .SFNSDisplay;
  font-size: 24px;
  color: #313541;
  letter-spacing: 0;
  margin: 30px 0 5px;
  font-weight: 400;
}
.contact-area .single-contact p {
  font-family: .AppleSystemUIFont;
  font-size: 16px;
  color: #999999;
  letter-spacing: 0;
  line-height: 22px;
}
.contact-area .single-contact ul {
  margin-top: 10px;
}
.contact-area .single-contact ul li a {
  font-size: 18px;
  color: #CFCFCF;
  letter-spacing: 0;
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  padding: 3px 0;
}
.contact-area .single-contact ul li a:hover {
  background: #ffae00;
  background: -moz-linear-gradient(left, #ffae00 0%, #f16f5c 0%, #ff9501 0%, #ff7b00 71%, #fe6100 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #ffae00), color-stop(0%, #f16f5c), color-stop(0%, #ff9501), color-stop(71%, #ff7b00), color-stop(100%, #fe6100));
  background: -webkit-linear-gradient(left, #ffae00 0%, #f16f5c 0%, #ff9501 0%, #ff7b00 71%, #fe6100 100%);
  background: -o-linear-gradient(left, #ffae00 0%, #f16f5c 0%, #ff9501 0%, #ff7b00 71%, #fe6100 100%);
  background: -ms-linear-gradient(left, #ffae00 0%, #f16f5c 0%, #ff9501 0%, #ff7b00 71%, #fe6100 100%);
  background: linear-gradient(to right, #ffae00 0%, #f16f5c 0%, #ff9501 0%, #ff7b00 71%, #fe6100 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffae00', endColorstr='#fe6100', GradientType=1);
  color: #ffffff;
}
/* ------------------------------------
8.Footer Area Start Here 
---------------------------------------*/
footer .copyright p {
  font-family: .AppleSystemUIFont;
  font-size: 14px;
  color: #313541;
  letter-spacing: 0;
  line-height: 22px;
}
