/* .nav{

    margin: 0 auto;
    position:absolute;
    width: 100%;
    line-height: 70px;
} */

.jumbotron {
    display: inline-block;
    width: 100%;
    margin: 0 auto;
    background-color: transparent;
    border: 0px;
    margin-top: 250px;
    margin-bottom: 150px;


}

.blacking {
    color: #ffffff !important;
    text-align: center;
    font-weight: 300;
    font-size: 55px;
}

.thumbnail {
    overflow:hidden;
    background-size:cover;
    margin: 0px;
    padding: 0px;
}
.thumbnail:hover {
    -webkit-transform:scale(1);
transform:scale(1);

}

.thumbnail:hover .img-thumbnail {
-webkit-transform:scale(1.3);
transform:scale(1.3);

}
.thumbnail {
overflow:hidden;

}
.img-thumbnail {


-webkit-transition: all 1.8s ease;
transition: all 1.8s ease;
}
.brand {
    color: black;
    text-decoration: none;
    font-size: 70px;
    font-weight: 100;



}
.brand:hover{
    color: black;
    text-decoration: none;
}

.jumbotron-text {
    text-align: center;
    color: white !important;
    margin-top: 100px;
}
.img-row {
    width: 100%;
}
.container.ipad {
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    background-color: #f8f8f8;
    width: 100%;
    margin-top: 90px;
    margin-bottom: 90px;
}
.container.galery{
    margin-bottom: 90px;
    width: 80%;

}
.row.ipad{
    margin: 0 auto;
    display: block;
    max-width: 80%;
     margin-top: 90px;
    padding-bottom: 90px;
}
h3{
        font-weight: 700;
    font-size: 30px;
    margin-bottom: 30px;
    margin-top: 30px;
}
.leadd {
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 16px;
    color: #8D8D8D;
    line-height: 1.46428571;
    font-weight: 300;
}
.leadd-1>p {
    margin-bottom: 30px;
    margin-top: 20px;
    font-size: 20px;
    line-height: 1.46428571;
    font-weight: 300;
         font-family: "Lato",Helvetica,Arial,sans-serif;
}
.container.doge {
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    background-color: #f8f8f8;
    width: 100%;
    margin-top: 90px;

}

.col-md-6.row{
    padding-left: 0px;
    padding-right: 0px;
}
.rotate:hover {
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}
.rotate{
    -ms-transform: all 1s ease;
    -webkit-transition: all 1s ease;
transition: all 1s ease;
}
.row.iphone{
    margin: 0 auto;
    display: block;
    max-width: 80%
}
.col-sm-6.col-md-4{
    padding: 0px;
}
.content-section-b {
    padding-bottom: 90px;
    background-color: #000;
    color: aliceblue;
    box-shadow: 0px -40px 120px 54px rgba(0,0,0,1);
}
.row>.col-md-3{
    padding: 0px;
}
.iumbotron-border {
     border: 1px solid #ccc;
    width: 45%;
    margin: 0 auto;
    padding: 25px;
}

.h3-h3 {
    color: #f1f1f1 !important;
    text-align: center;
    font-weight: 200;

}
.iumbotron-border:hover {
     border: 1px solid #ffb310;
}

.jumbotron.box {
    margin-top: 0px;
  padding-top: 70px;
  padding-bottom: 70px;
  margin-bottom: 0px;
  color: inherit;
  background-color: #eee;
    background: url(../image/3-3.jpg) no-repeat center center fixed;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.jumbotron.box_second {
    margin-top: 0px;
  padding-top: 70px;
  padding-bottom: 70px;
  margin-bottom: 0px;
  color: inherit;
  background-color: #eee;
    background: url(../image/second_back.jpg) no-repeat center center fixed;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.jumbotron.box_third {
    margin-top: 0px;
  padding-top: 70px;
  padding-bottom: 70px;
  margin-bottom: 0px;
  color: inherit;
  background-color: #eee;
    background: url(../image/third_back.jpg) no-repeat center center fixed;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.jumbotron.box_fourth {
    margin-top: 0px;
  padding-top: 70px;
  padding-bottom: 70px;
  margin-bottom: 0px;
  color: inherit;
  background-color: #eee;
    background: url(../image/fourth_back.jpg) no-repeat center center fixed;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.jumbotron.box_fifth {
    margin-top: 0px;
  padding-top: 70px;
  padding-bottom: 70px;
  margin-bottom: 0px;
  color: inherit;
  background-color: #eee;
    background: url(../image/fifth_back.jpg) no-repeat center center fixed;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.jumbotron.box_sixth {
    margin-top: 0px;
  padding-top: 70px;
  padding-bottom: 70px;
  margin-bottom: 0px;
  color: inherit;
  background-color: #eee;
    background: url(../image/sixth_back.jpg) no-repeat center center fixed;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.jumbotron>h1{
    font-size: 75px !important;
    font-weight:200;
}

.btn.jumbotron-box {
    color: #ffb310 !important;
    background-color: grey;
}
.btn.jumbotron-box:hover{
    background-color: #ffb310;
    color: #333 !important;
    box-shadow: 0px 0px 35px  black;

}

.linkSource {
    color: #ffb310 !important;
    background-color: grey;
}
.linkSource:hover {
    background-color: #ffb310;
    color: #333 !important;
    box-shadow: 0px 0px 35px  black;

}

.jumbotron>p {
    text-align: center;
}


.contact_header>h1{
    color: white !important;
    font-weight: 100;
    font-size: 58px;

}
.row.contact{
    width: 80%;
    margin: 0 auto;
    margin-bottom: 150px;
}

.container.contactwithme {
    background-color: #333;

    padding-top: 90px;
}

.container.contact {

    background: url(../image/map-image.png) no-repeat;
    background-size: cover;


}

ul.a {list-style-type: circle;}
ul.b {list-style-type: square;}
ol.c {list-style-type: upper-roman;}
ol.d {list-style-type: lower-alpha;}

.head_top_social a{
    color: #e7a331;
    display: inline-block;
    padding-left: 7px;
    padding-right: 7px;
}



/* Frame and image for app pictures */
.card {
  position: relative;
  height: 250px;
  background: linear-gradient(-135deg,
    rgba(30,30,30,0.6) 30%,
    rgba(46,46,46,0.5) 80%),
    url("http://unsplash.it/400/300/?random");
  background-size: cover;
  color: white;
}

.card-user {
  position: absolute;
  top: 10px;
  right: 10px;
}
