body{
    margin: 0px;
    padding: 0px;
    color: #34495e;
    font-family: 'Lato', sans-serif;
}
html{
    padding: 0px;
    margin: 0px;
}

.active {
  background-color: orange;
  color: white;
}

.nav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .nav a:not(:first-child) {display: none;}
  .nav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .nav.responsive {position: relative;}
  .nav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .nav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

li{
    display:inline-block;
    margin: 0px;
    padding: 5px;
}

ul>container>li>a:hover{
    text-decoration: none;
    color:white;
    background-color: #ffb310;
    border-radius: 10px;
    font-weight: 400;
    box-shadow: 0px 0px 35px  black;

}

.container-right {
    float: right;
}

.nav>li:hover{
    border-radius: 15px;
    padding: 5px;
}

.jumbotron {
    display: inline-block;
    width: 100%;
    margin: 0 auto;
    background-color: transparent;
    border: 0px;
    margin-top: 250px;
    margin-bottom: 150px;
}

h1 {
    color: #ffffff !important;
    text-align: center;
    font-weight: 300;
    font-size: 55px;
}

.whiting {
    color: #ffffff !important;
    text-align: center;
    font-weight: 300;
    font-size: 55px;
}
.container-main {
    width: 100%;
    background-position: top;
    background: url(../image/3-3.jpg)  no-repeat center center fixed;
   background-size: cover;
}

.container-nav {
    background-color: #000000;

}
.nav>ul{
    max-width: 1000px;
    margin: 0px;
    vertical-align: baseline
}
.container-row {
    max-width: auto;
    margin: 0px;

}
.thumbnail {
    overflow:hidden;
    background-size:cover;
    margin: 0px;
    padding: 0px;
}
.thumbnail:hover {
    -webkit-transform:scale(1);
transform:scale(1);

}

.thumbnail:hover .img-thumbnail {
-webkit-transform:scale(1.3);
transform:scale(1.3);

}
.thumbnail {
overflow:hidden;

}
.img-thumbnail {
-webkit-transition: all 1.8s ease;
transition: all 1.8s ease;
}
.brand {
    color: black;
    text-decoration: none;
    font-size: 70px;
    font-weight: 100;
}
.brand:hover{
    color: black;
    text-decoration: none;
}
.container-1 {
    display: block;
    margin: 0 auto;
}

.img-row {
    width: 100%;

}

.container.galery{
    margin-bottom: 90px;
    width: 80%;

}

h3{
        font-weight: 700;
    font-size: 30px;
    margin-bottom: 30px;
    margin-top: 30px;
}
.leadd {
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 16px;
    color: #8D8D8D;
    line-height: 1.46428571;
    font-weight: 300;
}
.leadd-1>p {
    margin-bottom: 30px;
    margin-top: 20px;
    font-size: 20px;
    line-height: 1.46428571;
    font-weight: 300;
         font-family: "Lato",Helvetica,Arial,sans-serif;
}
.container.doge {
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    background-color: #f8f8f8;
    width: 100%;
    margin-top: 90px;

}

.lead2 {
        font-size: 18px;
    font-weight: 300;
    padding-left: 0px;
}

.h2h2 {
    font-size: 63px;
    font-weight: 700;
}
.container.main{
    max-width: 90%;
    padding-left: 15px;
    padding-right: 15px;
}
.col-md-6.row{
    padding-left: 0px;
    padding-right: 0px;
}
.rotate:hover {
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}
.rotate{
    -ms-transform: all 1s ease;
    -webkit-transition: all 1s ease;
transition: all 1s ease;
}
.row.iphone{
    margin: 0 auto;
    display: block;
    max-width: 80%

}

.col-sm-6.col-md-4{
    padding: 0px;
}
.content-section-b {
    padding-bottom: 90px;
    background-color: #fff;
    box-shadow: 0px -40px 120px 54px rgba(0,0,0,1);
}
.row>.col-md-3{
    padding: 0px;
}
.iumbotron-border {
     border: 1px solid #ccc;
    width: 45%;
    margin: 0 auto;
    padding: 25px;
}

.h3-h3 {
    color: #f1f1f1 !important;
    text-align: center;
    font-weight: 200;

}

.iumbotron-border:hover {
     border: 1px solid #ffb310;


}
a{
  color: white !important;
}

.footer {
    max-height: 100px;
  background-color: #000000;
    background-attachment: fixed;
    color: #ffffff;
}

.container-vegas {
    width: 100%;
    height: 600px;
}
#cd-timeline {
  position: relative;
  padding: 2em 0;
  margin-top: 2em;
  margin-bottom: 2em;
}
#cd-timeline::before {
  /* this is the vertical line */
  content: '';
  position: absolute;
  top: 0;
  left: 18px;
  height: 100%;
  width: 4px;
  background: #d7e4ed;
}
.cssanimations .cd-timeline-img.is-hidden {
  visibility: hidden;
}
.cssanimations .cd-timeline-img.bounce-in {
  visibility: visible;
  animation: cd-bounce-1 0.6s;
}

@keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }

  60% {
    opacity: 1;
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

.contact_header>h1{
    color: white !important;
    font-weight: 100;
    font-size: 58px;

}
.row.contact{
    width: 80%;
    margin: 0 auto;
    margin-bottom: 150px;
}

.container.contactwithme {
    background-color: #333;

    padding-top: 90px;
}

.container.contact {
    background: url(../image/map-image.png) no-repeat;
    background-size: cover;
}
.row.footer{
    width: 30%;
    margin: 0 auto;
}
ul.a {list-style-type: circle;}
ul.b {list-style-type: square;}
ol.c {list-style-type: upper-roman;}
ol.d {list-style-type: lower-alpha;}


.contact-form{

  padding: 30px;
  text-align: center;
  background-color: #ffffff;
  padding-bottom: 30px;
}
.contact_1{
  text-align: left;
  font-family: 'Georgia', sans-serif;
  font-weight: 50px;
  padding: 5px;
}

.mading{
  padding: 10px;
  text-align: center;
  background-color: #000000;

  color: #ffffff;
  text-align: center;
  font-family: 'Georgia', sans-serif;
  font-weight: 300;
  margin: 0;
}


/* scrollup */

.scrollup{
	width: 30px;
	height: 30px;
	border-radius: 15px;
	opacity: .3;
	position: fixed;
	bottom: 20px;
	right: 25px;
	color: #fff;
	cursor: pointer;
	background-color: #000;
	z-index: 1000;
	transition: opacity .5s, background-color .5s;
	-moz-transition: opacity .5s, background-color .5s;
	-webkit-transition: opacity .5s, background-color .5s;
}

.scrollup:hover {
	background: #e7a331;
	opacity: 1;
}

.scrollup i {
	font-size: 13px;
	position: absolute;
	opacity: 1;
	color: #fff;
	left: 50%;
	top: 50%;
	margin-top: -7px;
	margin-left: -6px;
	text-decoration: none;

}

/* Header top menu css */

.header_top_menu{
	background:#fff;
	position:relative;
}


a.navbar-brand.our_logo{
    position: absolute;
    left: 0;
    top: -55px;
    width: 25%;
}

.header_top_menu .call_us_text a{
	color:#666;
	font-size:15px;
	margin-left:15px;
	padding:5px;
	display:inline-block;
}
.header_top_menu .call_us_text a i{
	color:#e7a331;
	margin-right:10px;
	font-size:18px;
}

.head_top_social a{
    color: #e7a331;
    display: inline-block;
}

/* main menu */
.menu-scroll {
    padding-top: 0px;
    padding-bottom: 0px;
    position: fixed;
    top: 0;
	left: 0;
	right: 0;
	z-index: 300;
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    background-color: #000;
	height:80px;

}

.menu-scroll .header_top_menu{
	display:none;
}
.menu-scroll a.navbar-brand.our_logo {
    top: -16px;
}

/* main menu */
.menu-scroll {
    padding-top: 0px;
    padding-bottom: 0px;
    position: fixed;
    top: 0;
	left: 0;
	right: 0;
	z-index: 300;
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    background-color: #000;
	height:80px;

}

.menu-scroll .header_top_menu{
	display:none;
}
/* .menu-scroll a.navbar-brand.our_logo {
    top: -16px;
} */

.main_menu_bg{
	background:rgba(0, 0, 0, .45);
	height: 80px;

}
.navbar-default {
    background-color: transparent;
    border-color: transparent;
    margin: 0px;
    padding: 0px;
}
.container-fluid {
    margin-top: 15px;

}

.main_menu_bg .navbar {
   margin-bottom: 0px;

}

.navbar-default .navbar-nav>li>a {
    color: #fff;
    font-size: 15px;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus{
	color: red;
}

.navbar-default .navbar-nav>li>a:active {
    color: red;
}
